@import url('https://fonts.googleapis.com/css2?family=Lato&family=Orbitron:wght@500&display=swap');
.navbar {
  background-color: #007791;
  box-shadow: 0 0 3px #000000;
}
body{
    background-image: url(bg3.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
}
.navbar ul {
  display: flex;
  margin-right: 20px;
}

.navbar ul li{
  display: flex;
  margin-left: 20px; 
}

.p1{
  color: red;
}
.p2 {
  color: blue;
}
.p3{
  color: yellow;
  margin-right: 10px;
}
.container {
    display: flex;
    justify-content: space-between;
  }
  .container h2 {
    color: floralwhite;
    margin-left: 2%;
    font-family: 'Orbitron', sans-serif;
  }
  .container h2::first-letter {
    margin-left: 2%;
    font-family: 'Orbitron', sans-serif;
  }
  a {
    text-decoration: none;
    color: floralwhite;
    margin-top: 8px;
    font-size: 17px;
  } 
  table, tr, th, td{
    margin-top: 50px;
    border: 4px solid white; 
    border-collapse: collapse;
    padding:15px;
    background-color: #07283d3f;
}
th{
    font-size: 35px;
}
table{
    box-shadow: 2px 0 10px #000000;
    margin-bottom: 50px;
    color: floralwhite;
}
